.layout {
    display: flex;
    padding: 15px;
}

.sidebar {
    background-color: white;
    width: 500px;
    padding: 15px;
    margin-right: 15px;
    border-radius: 5px;
    height: fit-content;
    user-select: none;
}

.authorName{
    font-weight: 800;
    font-size: 30px;
}

/* Suggested Posts */
.suggestionContainer {
    background-color: #f0f0f0;
    border-radius: 5px;
    margin-top: 15px;
    padding: 5px;
    padding-bottom: 2px !important;
}

.suggestionText{
     font-weight: 600;
     font-size: 12px;
     text-transform: uppercase;
     letter-spacing: 1.2px;
     color: #ccc;
     margin-left: 10px;
     margin-bottom: 5px;
     padding: 5px;
}

 h6 {
    font-weight: 700;
    color: #444;
    font-size: 13px;
    letter-spacing: 1.1px;
    margin-bottom: 20px;
    text-transform: uppercase;
    user-select: none;
}

.aboutSection {
    color: gray;
    margin-bottom: 25px;
  }

.blog{
    padding: 20px;
}

.mainParagraphs {
  font-size: 16px;
  line-height: 1.4;
}

.mainParagraphs:not(:last-child) {
    margin-bottom: 25px;
}

.contentContainer {
    background-color: white;
    width: 90%;
    padding: 20px;
    border-radius: 5px;
}

@media(max-width: 1200px){
    .sidebar{
        display: none;
    }

    .contentContainer{
        margin: -15px;
        width: 105%;
        border-radius: 0;
        transition: all 0.2s ease;
    }
}

.cta {
  display: inline-flex;
}

.cta > *:not(:last-child) {
  margin-right: 8px;
}

.btn {
  border: none !important;
  background-color: var(--mainTheme);
  text-decoration: none !important;
  color: rgb(255, 255, 255) !important;
  padding: 12px 20px;
  font-size: 14px;
  font-weight: 900;
  border-radius: 5px !important;
  text-transform: uppercase !important;
  transition: all 0.2s ease !important;
}

.btn:hover {
  background-color: #2a2a2a;
  cursor: pointer;
  transform: scale(1.02);
  transition: all 0.2s ease !important;
}