.layout {
    display: flex;
    padding: 15px;
}

.sidebar {
    background-color: white;
    width: 500px;
    padding: 19px;
    margin-right: 15px;
    border-radius: 5px;
    height: fit-content;
    user-select: none;
}

.authorName{
    font-weight: 800;
    font-size: 30px;
}

/* Suggested Posts */
.suggestionContainer {
    background-color: #f0f0f0;
    border-radius: 5px;
    margin-top: 0px;
    padding: 5px;
    padding-bottom: 2px !important;
}

.suggestionText{
     font-weight: 600;
     font-size: 12px;
     text-transform: uppercase;
     letter-spacing: 1.2px;
     color: #ccc;
     margin-block: 5px;
     margin-left: 5px;
     padding: 5px;
}

 h6 {
    font-weight: 700;
    color: #444;
    font-size: 13px;
    letter-spacing: 1.1px;
    margin-bottom: 20px;
    text-transform: uppercase;
    user-select: none;
}

.aboutSection {
    color: gray;
    margin-bottom: 5px;
  }

.blog{
    padding: 20px;
}

.mainParagraphs {
  font-size: 16px;
  line-height: 1.4;
}

.mainParagraphs:not(:last-child) {
    margin-bottom: 25px;
}

.contentContainer {
    background-color: white;
    width: 90%;
    padding: 20px;
    border-radius: 5px;
}

@media(max-width: 1200px){
    .sidebar{
        display: none;
    }

    .contentContainer{
        margin: -15px;
        width: 105%;
        border-radius: 0;
        transition: all 0.2s ease;
    }
}

.cta {
  display: inline-flex;
}

.cta > *:not(:last-child) {
  margin-right: 8px;
}

.btn {
  border: none !important;
  background-color: var(--mainTheme);
  text-decoration: none !important;
  color: rgb(255, 255, 255) !important;
  padding: 12px 20px;
  font-size: 14px;
  font-weight: 900;
  border-radius: 5px !important;
  text-transform: uppercase !important;
  transition: all 0.2s ease !important;
}

.btn:hover {
  background-color: #2a2a2a;
  cursor: pointer;
  transform: scale(1.03);
  transition: all 0.2s ease !important;
}

.btn:last-child{
  margin-left: 10px;
}

.actionContainer{
  background-color: #f5f5f5;
  background-image: linear-gradient(to bottom, #f5f5f5 20%, #fff);
  padding: 15px;
  justify-content: center;
  border-radius: 5px;
  margin-top: -5px;
}

.deleteBtn:hover{
  background-color: #ff534a !important;
  margin-right: 10px;
  color: white;
  transform: scale(1.03);
  cursor: pointer;
}

.editBtn:hover{
  background-color: #2a2a2a !important;
  color: white;
  transform: scale(1.03);
  cursor: pointer;
}

.deleteBtn, .editBtn{
  margin-top: 15px !important;
  margin-bottom: 10px;
}

.alignItems{
  justify-content: center;
  padding-left: 20px;
}

.actionText{
  margin-top: 5px;
  font-size: 14px;
  font-weight: 900;
  margin-bottom: -5px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

hr{
  opacity: 0.2;
}