/* Blog Post View */
.blogTitle{
    font-weight: 800;
    font-size: 30px;
    user-select: none !important;
}
h2{
    margin-top: 10px;
    margin-bottom: 2px;
    font-size: 20px;
    user-select: none !important;
}
h1{
    user-select: none !important;
}
