/* The Actual Blog Suggestion*/
.blogPreview {
  border-radius: 5px;
  background-color: white;
  padding: 20px;
  width: 96%;
  margin-left: 7px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.goToBtn {
  border: none;
  background-color: #eaeaea;
  width: 100%;
  color: black;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 900;
  margin-top: 15px;
  border-radius: 5px;
  text-transform: uppercase;
  transition: all 0.2s ease;
}

.goToBtn:hover {
  background-color: var(--mainTheme);
  width: 100%;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease;
}

.goToBtn:active{
  font-size: 90%;
}

.blogTitle{
  margin-bottom: 7px;
}

.blogPreview > h6{
  margin-bottom: 5px !important;
  color: #888;
}
