/* The Actual Blog */
.blogPreview {
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    height: fit-content;
    padding: 20px;
    width: 350px;
    margin: 10px;
}

.goToBtn{
    border: none;
    background-color: #eaeaea;
    width: 100%;
    color: black;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 900;
    margin-top: 15px;
    border-radius: 5px;
    text-transform: uppercase;
    transition: all 0.2s ease;
}
.goToBtn:hover{
    background-color: var(--mainTheme);
    width: 100%;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease;
}
